.pagination{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.pagination__list{
    list-style-type: none;
    text-align: center;
    display: flex;
    margin: 0 auto;
}

.pagination__item{
    border: 1px solid #2891ce;
    font-size: 1.3rem;
    color:#ffffff;
    min-width: 2.5rem;
    height: 2.5rem;
    padding: 0 .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s;

}
.pagination__item:hover{
    background-color: #156696;
}

.pagination__item[data-active=true]{
    background-color: #2891ce;
}
