.input-container{
    width: 100%;
}

.input{
    width: 100%;
    padding: 1rem 2rem;
    font-size: 1.3rem;
    background-color: rgb(212, 212, 212);
    outline: 0;
    border: 1px solid #fff;
    border-radius: 2rem;
    transition: .5s;
}

.input::placeholder{
    font-size: 1.3rem;
    color: #8D8E97;
}

.input:focus{
    border: 1px solid #8D8E97;
    background-color: #fff;
}

.input[disabled]{
    border: 0;
    background-color: #e6e6e6;;
}

.input:invalid[data-empty='false'], .input[data-valid='false'] {
    border: 1px solid red;
}

.input__label{
    display: block;
    padding: 0.3rem 0;
    padding-left: 2rem;
    font-size: 1.2rem;
}

.input__error{
    color:transparent;
    padding-top:0.4rem;
    padding-left: 2rem;
    font-size: 1.2rem;
}

.input[data-empty='false'][data-valid='false'] + .input__error {
    color:red;
}

.input:invalid[data-empty='false'] + .input__error {
    color:red;
}
