.cards-container{
    margin: 0 auto;
    max-width: 1200px;
    padding:1 rem;

    display:grid;
    justify-items:space-between;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    gap: 2rem;
    grid-auto-flow: row;
}