.sub-menu__list{
    display: flex;
    align-items: center;
    gap:2rem;
    padding: 1rem 0;
    list-style-type: none;
}
    
.sub-menu__item{
    list-style-type: none;
    color:#fff;
    border: 1px solid rgba(255,255,255,0.3);
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    font-size: 1.2rem;
    transition: 0.5s;
    cursor: pointer;
}

.sub-menu__item:hover{
    background-color: rgba(255,255,255,0.1);
}