.cart-wrapper{
    position: absolute;
    top:0;
    left:0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.8);
}

.cart{
    position: relative;
    display: flex;
    flex-direction: column;
    gap:1rem;
    width: 70%;
    height: 80vh;
    background-color: #fff;
    padding-top: 2rem;
    
}

.cart__book-list{
    margin: 0 auto;
    width: calc(100% - 4rem);
    flex-grow: 1;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap:1rem;
    overflow: auto;
}

.cart__empty{
    margin: 0 auto;
    width: 100% ;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.cart__book{
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #cccccc;
    border-radius: 1rem;
    padding: 1rem;
}

.book-cart__image{
    min-width: 12rem;
    height: 14rem;
}

.book-cart__info-container{
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.book-cart__title{
    font-size: 1.5rem;
    padding-right: 2rem;
    transition: .3s;
    cursor: pointer;
}

.book-cart__title:hover{
    color: brown;
    text-decoration: underline;

}

.book-cart__sub-title{
    font-size: 1.1rem;
}

.book-cart__price{
    font-size: 1.5rem;
    color: brown;
}

.book-cart__price[data-free=true]{
    color: rgb(22, 175, 8);
    font-weight: bold;

}

.counter{
    width: fit-content;
    display:flex;
    gap: 1rem;
    align-items: center;
    font-size: 1.2rem;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
}

.counter__button{
    padding: 0.5rem;
    width: 2rem;
    border-radius: 3px;
    border: none;
    background-color:#d3d3d3;
    cursor: pointer;
    transition: 0.1s;
}

.counter__button:hover{
    transform: scale(1.1);
}

.counter__button[disabled]{
    cursor:default;
    background-color:#f0f0f0;
}

.cart__footer{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    background-color: rgb(185, 185, 185);
}

.cart__total{
    align-self: baseline;
    font-size: 1.5rem;
    padding-right: 1rem;
}

.cart__total-number{
    align-self: baseline;
    color:brown;
    font-size: 2.5rem;
    padding: none;
}


.cart__buy-button{
    flex-grow: 1;
    font-size: 1.3rem;
    background-color: chocolate;
    color:#fff;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: .3s;
}

.cart__buy-button:hover{
    transform: scale(1.05);
}


.cart__close-button, .cart__clear-button{
    margin-left: auto;

    font-size: 1.3rem;
    border: 1px solid #646464;
    background-color: transparent;
    color:#646464;
    padding: 1rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

.cart__close-button:hover, .cart__clear-button:hover{
    transform: scale(1.1);
    color: brown;
    border-color: brown;
}

.empty-cart{
    width: 12rem;
    height: 10rem;
}