* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	padding: 1rem;
	/* background: url('./components/Icons/background.svg') center/contain; */
	background-color: #125379;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 1rem;
}
